doctype html
html
  head
    title Sesiones
  body
    form(action="/sessions" method="POST")
      input(type="email" name="email" placeholder="Correo Electronico")
      input(type="password" name="password" placeholder="Cotrasena")
      input(type="submit" value="Iniciar Sesion")        
